@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
    background-color: white;
    font-family: "Russo One", serif;
    font-style: normal;
}


  
#website {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.logo img{
    width: 100px;
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
